@model PSFVisitsViewModel

@{
    @if (Model.Status == 1)
    {
        ViewData["Title"] = "Completed PSF Visits as at " + @String.Format("{0:dd-MM-yyyy}", @DateTime.Now.Date);
    }
    else if (Model.Status == 2)
    {
        ViewData["Title"] = "Pending PSF Visits as at " + @String.Format("{0:dd-MM-yyyy}", @DateTime.Now.Date);
    }
    else
    {
        ViewData["Title"] = "Missed PSF Visits as at " + @String.Format("{0:dd-MM-yyyy}", @DateTime.Now.Date);
    }
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-5 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">REPORTS</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="~/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">PSF Visit Status</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-7 col-5">
                    <form class="form-inline mt--3">
                        <div class="col-6">
                            <div class="form-group mb-2">
                                <label for="inlineFormInput" class="text-light mr-auto">From date</label>
                                <input asp-for="FromVisitDate" type="date" class="form-control-sm">
                            </div>
                            <div class="form-group mb-2">
                                <label for="inlineFormInputGroup" class="text-light mr-auto">Session</label>
                                <select asp-for="VisitSettingId" class="form-control-sm" asp-items="ViewBag.VisitSetting">
                                    <option value="">--Select visit type--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="text-light mr-auto" asp-for="Status">Status</label>
                                <select asp-for="Status" class="form-control-sm">
                                    <option value="1">Completed</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Missed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mb-2">
                                <label class="text-light mr-auto" asp-for="ToVisitDate">To date</label>
                                <input asp-for="ToVisitDate" type="date" class="form-control-sm" />
                            </div>
                            <div class="form-group align-items-end">
                                <button type="submit" class="btn-sm btn-info ml-auto">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    @if (Model.Status == 1)
                    {
                        <h3 class="mb-0">Completed PSF Visits <span class="font-weight-400"> as at  @String.Format("{0:dd-MM-yyyy}", @DateTime.Now.Date)</span></h3>
                    }
                    else if (Model.Status == 2)
                    {
                        <h3 class="mb-0">Pending PSF Visits <span class="font-weight-400"> as at  @String.Format("{0:dd-MM-yyyy}", @DateTime.Now.Date)</span></h3>
                    }
                    else
                    {
                        <h3 class="mb-0">Missed PSF Visits <span class="font-weight-400"> as at  @String.Format("{0:dd-MM-yyyy}", @DateTime.Now.Date)</span></h3>
                    }
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table id="psf-table" class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Visit Stage</th>
                                <th scope="col">Count</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @{ int rowNumber = 0;}
                            @{ int total = 0;}
                            @foreach (var item in Model.PSFVisits)
                            {
                                <tr>
                                    <td>@{rowNumber++;} @rowNumber</td>
                                    <td>@item.VisitStage</td>
                                    <td>@item.Count</td>
                                </tr>
                                total = total + item.Count;
                            }
                            <tr class="tr-last">
                                <td>Total</td>
                                <td></td>
                                <td>@total</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#psf-table").DataTable(
            {
                dom: 'BlTfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            //columns: [ 0, ':visible' ]
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            //columns: ':visible'
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    }
                ]
            }
        );
    </script>
}