@model IEnumerable<WebAppointments.BusinessLogic.Entity.Visits>

@{
    ViewData["Title"] = "Visit";
}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Visits</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="~/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Visits</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-action="Create" class="btn btn-sm btn-neutral">Add New</a>
                    @if (User.IsInRole("Super Admin") || User.IsInRole("admin"))
                    {
                        <a asp-action="CreatePSF" class="btn btn-sm btn-neutral">Add New PSF Visit</a>
                    }
                    @* <a href="#" class="btn btn-sm btn-neutral">Filters</a> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Visits</h3>
                    @if (ViewBag.Message != null)
                    {
                        <p class="card-category alert-sucess" style="float: right;">@Html.Raw(ViewBag.Message)</p>
                    }
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table id="visitTable" class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Study ID</th>
                                <th scope="col">Visit Stage</th>
                                <th scope="col">Expected Date</th>
                                <th scope="col">Participant Came?</th>
                                <th scope="col">Date Paticipant Came</th>
                                <th scope="col"> Outcome</th>
                                <th scope="col">OutcomeComment</th>
                                <th scope="col">Next Appointment</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @{ int rowNumber = 0;}
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@{rowNumber++;} @rowNumber</td>
                                <td>
                                    @item.Participant.StudyId
                                </td>
                                <td>
                                    @item.VisitSetting.VisitType
                                </td>

                                <td>
                                    @item.VisitDate.ToString("yyyy-MM-dd")
                                </td>

                                <td>
                                    @(item.ParticipantCame == 1 ? "Yes":"No" )
                                </td>
                                <td>
                                    @if (item.DateParticipantCame.HasValue)
                                    {
                                        @item.DateParticipantCame.Value.ToString("dd/MM/yyyy")
                                    }
                                </td>
                                <td>
                                    @(item.VisitOutcome ==1? "Complete":"Incomplete" )
                                </td>
                                <td>
                                    @(item.OutcomeComment)
                                </td>

                                <td>
                                    @item.NextAppointment.Value.ToString("yyyy-MM-dd")
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            @if (User.IsInRole("Super Admin") || User.IsInRole("admin"))
                                            {
                                                <a class="dropdown-item" asp-action="EditPSF" asp-route-id="@item.Id">Edit PSF Visit</a>
                                            }
                                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">View</a>
                                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
</table>
                </div>
            </div>
        </div>
    </div>

    
</div>

@section Scripts{
    <script>
        $("#visitTable").DataTable(
            {
                dom: 'BlTfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            //columns: [ 0, ':visible' ]
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            //columns: ':visible'
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    }
                ]
            }
        );
    </script>
}